body {
  font-family: monospace;
  line-height: 1;
  margin: 0;
}

main {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

img {
  width: 100%;
}

summary {
  display: block;
  outline: none;
}

details {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a, summary {
  color: blue;
  text-decoration: underline;
}

a:hover, summary:hover {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h5,
h6 {
  margin: 10px 0 2px;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin: 0 0 5px;
}

h4 {
  margin: 10px 0 0px;
}

h4:first-child {
  margin: 0px 0 0px;
}

h5 {
  margin: 0px 0 0px;
}

h5:first-child {
  margin: 0px 0 0px;
}

.simple-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.simple-list li {
  padding: 0;
  margin: 0;
}
